* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  text-transform: lowercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  text-transform: lowercase;
  background: white;
  border: 1px solid black;
  padding: 8px 16px;
  cursor: pointer;
  color: black;
}

button:hover {
  background: black;
  color: white;
}

